<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Certificado Sinform 2021</title>

    <style>
        @font-face {font-family: "Orbitron"; src: url("font/Orbitron-VariableFont_wght.ttf");}
        @font-face {font-family: "Roboto Condensed"; src: url("font/RobotoCondensed-Regular.ttf");}
        @font-face {font-family: "Roboto Condensed"; src: url("font/RobotoCondensed-Bold.ttf");}
        *{margin: 0; padding: 0; color: #4A559E; box-sizing: border-box; font-family: "Roboto Condensed";}

        header{
            width: 100%;
            height: 150px;
            background: linear-gradient(284.53deg, rgba(252, 0, 255, 0.6) 10.76%, rgba(0, 219, 222, 0.6) 97.21%);
        }
        .header-text{
            font-family: "Orbitron";
            font-weight: 700;
            font-size: 60px;
            color: #fff;
            position: absolute;
            left: 125px;
            top: 40px;
        }

        .title{
            font-size: 50px;
            margin-top: 100px;
            line-height: 80px;
        }
        .title-text{
            font-family: "Orbitron";
            text-align: center;
            font-weight: 700;
        }
        .title-img{
            position: absolute;
            width: 208px;
            height: 249px;
            left: 2250px;
            top: 197px;
        }

        .content{
            width: 100%;
            margin-top: 50px;
            padding: 0 400px 0 400px;
        }
        .content-text{
            font-weight: 400;
            font-size: 45px;
            line-height: 70px;
            text-align: center;
        }

        .signature{
            position: absolute;
            left: 505px;
            top: 650px;
            text-align: center;
            line-height: 50px;
        }
        .signature-img{
            width: auto;
            height: 200px;
        }
        .signature-field{
            background-color: #4A559E;
            height: 2px;
            width: 700px;
            margin-bottom: 15px;
        }
        .signature-name, .signature-role{
            font-weight: 400;
            font-size: 45px;
        }

        .date{
            position: absolute;
            left: 1450px;
            top: 840px;
        }
        .date-text{
            font-weight: 400;
            font-size: 45px;
        }

        .ad{
            position: absolute;
            top: 1090px;
            left: 800px;
            text-align: center;
        }
        .ad-text{
            font-family: "Orbitron";
            font-weight: 700;
            font-size: 50px;
            margin-bottom: 15px;
        }
        .ad-img{
            width: auto;
            height: 100px;
        }

        footer {
            position: absolute;
            top: 1290px;
            height: 150px;
            width: 100%;
            background: #4A559E;
        }
        .footer-text{
            font-weight: 700;
            font-size: 30px;
            color: #fff;
            position: absolute;
            top: 60px;
            left: 1523px;
        }
        
    </style>

</head>
<body>

    <header><div class="header-text">SINFORM 2021</div></header>

    <main>
        <div class="title">
            <h1 class="title-text">CERTIFICADO</h1>
            <h3 class="title-text">DE PARTICIPAÇÃO</h5>
            <img class="title-img" src="https://i.ibb.co/NTds70H/uesc.png" alt="uesc_logo">
        </div>

        <div class="content">
            <p class="content-text">Certificamos que <strong><%= nome %></strong> participou com
                êxito do <strong>SINFORM 2021</strong>, realizado nos dias 19, 20 e 21 de Maio de
                2021 com carga horária de <strong><%= hora %></strong> hora(s)
            </p>
        </div>

        <div class="signature">
            <img class="signature-img" src="https://i.ibb.co/RgpXNfz/assinatura-Exemplo.png" alt="signature_img">
            <div class="signature-field"></div>
            <p class="signature-name">Tricia Santos Souto</p>
            <p class="signature-role"><strong>Coordenadora do Evento</strong></p>
        </div>

        <div class="date">
            <p class="date-text">Ilhéus - Bahia, 22 de Maio de 2021</p>
        </div>

        <div class="ad">
            <p class="ad-text">Apoio:</p>
            <img class="ad-img" src="https://i.ibb.co/jR2BGKX/apoios.png" alt="ad_img">
        </div>
    </main>

    <footer><div class="footer-text">Código de validação: <%= id %></div></footer>

</body>
</html>